<!DOCTYPE html>
<html>
    <head>
        <title>Add Patient Name</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">

            <br />
            <H1>Patients</H1>
            <table class="table table-striped">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                {% for patient in patients %}
                <tr>
                    <td>{{patient.firstName}}</td>
                    <td>{{patient.lastName}}</td>
                </tr>
                {% endfor %}
            </table>

            <hr>

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#test">Test</a></li>
            </ul>


            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">


                    <h1>Enter details below to add a patient</h1>
                    <form action="/" method="POST" role='form'>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


                </div>


                <div id="test" class="tab-pane fade">
                    <h3>Test</h3>
                    <p>Just some text.</p>
                </div>
            </div>


        </div>

    </body>
</html>