<!DOCTYPE html>
<html>
    <head>
        <title>Add Patient Name</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">

            <br />


            <div class="col-md-10">
                <div class="tab-content">
                    <div id="form1" class="tab-pane fade in active">


                        <h1>Enter details below to add a patient</h1>
                        <form action="/" method="POST" role='form'>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name" required>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name" required>
                            </div>

                            <body onload="fillDropdown()">

                            <div id = "selectDiseaseform">
                                <select name ="dis" id = "selectDropdown" class="form-control">  </select> <br>
                            </div>
                            <br>
                            <button  type="button" onclick = "addDisease()" class="btn btn-primary" id="btn-addDisease"> Select more diseases</button>
                            <br><br>

                        <button type="submit" class="btn btn-primary">Submit</button>


                    </div>


                    <div id="form2" class="tab-pane fade">
                        <H1>Patients</H1>
                        <table class="table table-striped">
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </tr>
                            {% for patient in patients %}
                            <tr>
                                <td>{{patient.firstName}}</td>
                                <td>{{patient.lastName}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div id="form3" class="tab-pane fade">
                        <h3>Form 3</h3>
                        <p>Just some text.</p>
                    </div>
                    <div id="form4" class="tab-pane fade">
                        <h3>Form 4</h3>
                        <p>Just some text.</p>
                    </div>
                    <div id="form5" class="tab-pane fade">
                        <h3>Form 5</h3>
                        <p>Just some text.</p>
                    </div>
                    <div id="form6" class="tab-pane fade">
                        <h3>Form 6</h3>
                        <p>Just some text.</p>
                    </div>
                    <div id="form7" class="tab-pane fade">
                        <h3>Form 7</h3>
                        <p>Just some text.</p>
                    </div>
                    <div id="form8" class="tab-pane fade">
                        <h3>Form 8</h3>
                        <p>Just some text.</p>
                    </div>
                    <div id="form9" class="tab-pane fade">
                        <h3>Form 9</h3>
                        <p>Just some text.</p>
                    </div>
                </div>
            </div>

            <br>

            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a data-toggle="tab" href="#form1">Form 1</a></li>
                    <li><a data-toggle="tab" href="#form2">Form 2</a></li>
                    <li><a data-toggle="tab" href="#form3">Form 3</a></li>
                    <li><a data-toggle="tab" href="#form4">Form 4</a></li>
                    <li><a data-toggle="tab" href="#form5">Form 5</a></li>
                    <li><a data-toggle="tab" href="#form6">Form 6</a></li>
                    <li><a data-toggle="tab" href="#form7">Form 7</a></li>
                    <li><a data-toggle="tab" href="#form8">Form 8</a></li>
                    <li><a data-toggle="tab" href="#form9">Form 9</a></li>
                </ul>
            </div>


        </div>

    </body>



    <script type="text/javascript">
        var diseaseList = [{"d1":"Adenomas, multiple colorectal"},{"d1":"Alzheimer disease, susceptibility to"},{"d1":"Amyotrophic lateral sclerosis, susceptibility to"},{"d1":"Asthma"},{"d1":"Becker muscular dystrophy"},{"d1":"Bladder cancer"},{"d1":"Breast cancer"},{"d1":"Cancer"},{"d1":"Cardiomyopathy, dilated"},{"d1":"Cardiovascular"},{"d1":"Cervical cancer, somatic"},{"d1":"Colorectal cancer"},{"d1":"Dermatitis, atopic"},{"d1":"Duchenne muscular dystrophy"},{"d1":"Esophageal cancer"}];
        var counterID = 1;

        function fillDropdown()
        {
            var selectDisease = document.getElementById("selectDropdown");
            var option = document.createElement("option");
            option.textContent = "Select Disease";
            option.value = "Select Disease";
            selectDisease.appendChild(option);

            for(var i = 0; i<diseaseList.length; i++)
            {
                var disName = diseaseList[i].d1;
                var option = document.createElement("option");
                option.textContent = disName;
                option.value = disName;
                selectDisease.appendChild(option);
            }
        }

        function addDisease()
        {
            if(counterID < 5)
            {
                var lineBreak = document.createElement("br");
                var addDisease = document.createElement("select");
                var classAttr = document.createAttribute("class");
                var nameAttr = document.createAttribute("name");

                classAttr.value = "form-control";
                nameAttr.value = "dis" + counterID;

                addDisease.setAttributeNode(classAttr);
                addDisease.setAttributeNode(nameAttr)
                addDisease.id = "selectDropdown" + counterID;
                addDisease.textContent = "Select Disease";
                document.getElementById("selectDiseaseform").appendChild(addDisease);
                document.getElementById("selectDiseaseform").appendChild(lineBreak);
                counterID +=1;

                var selectDisease = document.getElementById(addDisease.id);
                var option = document.createElement("option");
                option.textContent = "Select Disease";
                option.value = "Select Disease";
                selectDisease.appendChild(option);

                for(var i = 0; i<diseaseList.length; i++)
                {
                    var disName = diseaseList[i].d1;
                    var option = document.createElement("option");
                    option.textContent = disName;
                    option.value = disName;
                    selectDisease.appendChild(option);
                }
            }
            else
            {
                var para = $("<input>", {id:"para", class: "alert alert-danger", value:"Cannot exceed 5 diseases"});
                $("#selectDiseaseform").append(para);
                $("#btn-addDisease").attr("disabled","disabled");

            }
        }

        function isEmpty(str)


        { return (!str || 0 === str.length); }

        function isBlank(str)
        { return (!str || /^\s*$/.test(str)); }

    </script>




</html>