<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <title>Patient Added</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2>Added Patient!</h2>
            <p><strong>First Name: </strong>{{patient.firstName}}</p>
            <p><strong>Last Name: </strong>{{patient.lastName}}</p>
            <!--<p><strong>IMDB: </strong>{{movie.movieIMDB}}</p>-->
            <a href="/"><button class="btn btn-primary">Back</button></a>
        </div>
    </body>
</html>